<h1> ToDo </h1>
<p><%= link_to 'New ToDo', new_post_path %></p>
<% @posts.each do |post| %>
	<h2><%= post.item %></h2>
	<h3><%= post.description %></h3>
	<%= link_to 'Show To Do List', post_path(post) %>
	<%= link_to 'Edit Todo', edit_post_path(post) %>
	<%= link_to 'Delete', post, method: :delete %>
<% end %>
